{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "modules": true,
      "spread": true
    }

  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "linebreak-style": [2, "unix"],
    "no-console": 0,
    "react/jsx-uses-react": 2
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jasmine": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "_DEVELOPMENT_": true,
    "webpackIsomorphicTools": true
  }
}
