@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #f2e5a2; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #f2e5a2; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #f2e5a2; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #f2e5a2; }
  100% { background-color: #FFFFFF; }
}

.refreshes {
    background-image:none !important;
    -webkit-animation: fadeIt 2s ease-in-out;
       -moz-animation: fadeIt 2s ease-in-out;
         -o-animation: fadeIt 2s ease-in-out;
            animation: fadeIt 2s ease-in-out;
}

.trip {
  display: flex;
}

.trip > div {
  flex: 1;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}
